<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.snail.wallet">

    <application
        android:name="com.snail.wallet.MainScreen.db.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wallet"
        tools:targetApi="31">
        <activity
            android:name=".MainScreen.activities.ExpensesAddActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreen.activities.RevenueAddActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreen.WalletActivity"
            android:exported="false"
            android:label="@string/title_activity_wallet"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wallet.NoActionBar" />
        <activity
            android:name=".LoginScreen.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>